.paginbutton{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    height: 25px;
    width: 25px;
    background-color: #C4C4C4;
    border-radius: 50%;
    display: inline-block;
    color: #000000;
}